* {
    box-sizing: border-box;
    margin: 0;
  }
  
  .container {
    background-color: darkgrey;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 40px;
    border: solid 2px;
    position: relative;
    padding: 20px;
  }
  #result {
    width: 100%;
    padding: 18px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
  }
  
  .calculator-buttons {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 10px;
    margin-top: 30px;
  }
  button {
    padding: 8px;
    font-size: 20px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: aquamarine;
  }

#AC{
    width: 319%;
}

